th,
td {
    padding: 7px;
}

.records-area table tr:nth-child(1) td {
    font-size: 36px;
}

.records-area table tr:nth-child(2) td {
    font-size: 30px;
}

.records-area table tr:nth-child(3) td {
    font-size: 24px;
}

.team-area {
    margin-bottom: 15px;
}

.team-area p {
    margin: 0;
    padding: 5px;
    width: 200px;
    overflow: visible;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.games-area .game-gif {
    height: 100px;
}
